<section class="property-binding">
  <!-- <article>
    <h3>Interpolation</h3>
    <p>rendered string with interpolation: {{ url }}</p>
    <p>Resultado de 1 + 1 é: {{ 1 + 1 }}</p>
    <p>Resultado de 2 + 1 não é: {{ 2 + 1 + getValue() }}</p>
    <p>Curso de angula e gosto do curso: {{ angularCourse && getLikeCourses() }}</p>
  </article>
  <article>
    <h3>Property Binding</h3>
    <img src="{{ urlImage }}" alt="nature image">
    <img [src]="urlImage" alt="nature image">
  </article>
  <article>
    <h3>Class and style binding</h3>
    <div>
      Selecione uma classe:
      <select #classe (change)="0">
        <option value="alert-success">success</option>
        <option value="alert-info">info</option>
        <option value="alert-warning">alert</option>
        <option value="alert-danger">error</option>
      </select>

      <br><br>

      <div class="alert {{ classe.value }}" role="alert">
       text colorized conforms the value of combobox
      </div>

      <div class="alert" role="alert"
         [class.alert-success]="classe.value == 'alert-success'"
      >Success</div>
      <div class="alert" role="alert"
      [class.alert-info]="classe.value == 'alert-info'"

      >Info</div>
      <div class="alert" role="alert"
         [class.alert-warning]="classe.value == 'alert-warning'"

      >Alert</div>
      <div class="alert" role="alert"
         [class.alert-danger]="classe.value == 'alert-danger'"

      >Error</div>

      <div class="alert alert-danger" role="alert"
      [style.display]="classe.value == 'alert-danger' ? 'block' : 'none'"
      >
        this text somente appear in case of error
      </div>
    </div>
  </article>
  <section class="event-binding">
     <article>
      <h3>Event binding</h3>
      <div>
      <button
       (click)="clickedButton()"
      class="btn btn-primary">Click Me</button>
      <br> <br>
      <input type="text" name="" id=""
        (keyup)="onKeyUp($event)"
        (keyup.enter)="saveValue(inputField.value)"
        (blur)="saveValue($event.target.value)"
         #inputField
      >
      <p>actual value: {{ actualValue }}</p>
      <p>saved value: {{ savedValue }}</p>

      <br>
      <span
       (mouseover)="onMouseOverOut()"
       (mouseout)="onMouseOverOut()"
       [class.highlight]="isMouseOver"
      >
        pass the mouse above me
      </span>
      </div>
    </article> -->

    <article>
      <h3>two-way data binding</h3>
      <div>
        <input type="text"
         [value]="nome"
         (input)="nome = $event.target.value"
        />
      <input type="text"
        [ngModel]="nome"
        (ngModelChange)="nome = $event"
       />
       <input type="text"
         [(ngModel)]="nome"
       />
       <input type="text"
       bindon-ngModel="nome"
     />

        <p>vc digitou um nome: {{ nome }}</p>
      </div>

      <div>
        <input type="text"
         [(ngModel)]="pessoa.nome"
        />
        <input type="text"
        [(ngModel)]="pessoa.idade"
       />
       <p>nome: {{ pessoa.nome }}</p>
       <p>idade: {{ pessoa.idade }}</p>

      </div>
    </article>
  </section>
