.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.item {
  height: 30px;
  width: 50px;
  background-color: aqua;
  order: 5;
  flex-grow: 4;
  flex-shrink: 3;
  align-self: center;
}

.square {
  background-color: red;
  height: 80px;
  width: 100%;
  display: flex;
  margin: 10px 10px 10px 0;
  flex-direction: ;
  justify-content: flex-start;
  flex-wrap: wrap;
  align-items: center;
  /* align-content: center; */
  flex-direction: row;
  gap: 10px 50px;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
